<h3 class="text-center">Изменить данные о работнике</h3>

<%= render 'form' %>

<%= link_to 'Показать', @employee, class: 'btn btn-xs btn-primary' %>
<%= link_to 'Назад', employees_path, class: 'btn btn-xs btn-default' %>
