<div class='container'>
  <h3 class="text-center well well-sm">Новый табель</h3>

  <%= render 'form' %>

  <%= link_to employee_path(@employee), class: 'btn btn-sm btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"> Назад</span>
  <% end %>
</div>